/**
 *
 * Variables
 *
 */


/*===================================
=            Base Colors            =
===================================*/

$white:#fff;
$black:#000;

$blue: #283d88;
$blue-light: #4c78b3;
$color-gray: rgba(#000,.8);

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/



$text: rgba(#000, .8);

/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
